<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App</title>
  <script src="http://localhost:3000/socket.io/socket.io.js" defer></script>
  <link rel="stylesheet" href="./styles.css">
  <script src="./script.js" defer></script>
</head>

<body class="h-screen bg-base-300 w-full">
  <!-- <div class="chat chat-start chat-end chat-bubble chat-image avatar placeholder bg-neutral-focus text-neutral-content rounded-full w-12 chat-header opacity-70 chat-footer"></div> -->
  <div class="h-full">
    <div class="messages w-full max-h-full p-2 fixed bottom-14 overflow-auto">

    </div>
  </div>

  <div class="fixed bottom-2 w-full">
    <div>
      <form id="send-container">
        <div class="join w-full">
          <input class="input input-success input-bordered join-item w-full" type="text" name="messages" id="msg-input" placeholder="Type message here" required>
          <button class="btn bg-base-100 join-item rounded-r-md btn-outline btn-success" type="submit" id="send-btn" id="submit">Post</button>
        </div>
      </form>
    </div>
  </div>

  <div class="avatar online placeholder absolute right-1 top-1 dropdown dropdown-hover dropdown-end">
    <div class="bg-neutral-focus text-neutral-content rounded-full w-16">
      <label tabindex="0" class="text-xl" id="username">
        <%= name %>
      </label>
    </div>
    <form action="/logout" method="post" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-40 m-1">
      <li>
        <button type="submit" id="logout-btn">Log Out</button>
      </li>
    </form>
  </div>

</body>

</html>