<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChatApp-Login</title>
  <!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<body>
  <p>Login with</p>
  <p>Or</p>
  <% if (messages.error) { %>
  <%= messages.error %>
  <% } %>
  <form action="/login" method="post">
    <div>
      <label for="name">name</label>
      <input type="text" id="name" name="name">
      <br />
      <label for="password">password</label>
      <input type="password" id="password" name="password">
      <br />
      <button type="submit">Login</button>
    </div>
  </form>
  <p>Don't have an account? <a href="/register">register</a></p>
</body>

</html>