<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChatApp-Login</title>
  <link rel="stylesheet" href="./styles.css">
</head>

<body class="flex items-center justify-center h-screen">
  <div class="card card-normal card-bordered w-96 bg-base-100 shadow-xl flex items-center justify-center">
    <div class="card-title pt-6">
      <p>Login with</p>
    </div>
    <div class="card-title">
      <p>Or</p>
    </div>
    <% if (messages.error) { %>
    <%= messages.error %>
    <% } %>
    <div class="card-body">
      <form action="/login" method="post">
        <div class="form-control w-full max-w-xs">
          <label for="name" class="label label-text">Name</label>
          <input type="text" id="name" name="name" class="input input-bordered w-full max-w-xs">
          <label for="password" class="label label-text">Password</label>
          <input type="password" id="password" name="password" class="input input-bordered w-full max-w-xs">
          <br />
          <div class="card-actions justify-center">
            <button type="submit" class="btn btn-neutral glass btn-wide">Login</button>
          </div>
        </div>
      </form>
    </div>
    <p class="pb-6"> Don't have an account? <a href="/register" class="btn btn-sm btn-link">Register</a></p>
  </div>
</body>

</html>