<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChatApp-Register</title>
  <!-- <link rel="stylesheet" href="styles.css"> -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.0/dist/full.css" rel="stylesheet" type="text/css" /> -->
</head>

<body>
  <p>Sign up with</p>
  <p>Or</p>
  <form action="/register" method="post">
    <div>
      <label for="name">name</label>
      <input type="name" id="name" name="name">
      <br />
      <label for="password">password</label>
      <input type="password" id="password" name="password">
      <br />
      <button type="submit">Sign up</button>
    </div>
  </form>
  <p>Have an account? <a href="/login">login</a></p>


  <!-- <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Shoes!</h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Buy Now</button>
      </div>
    </div>
  </div> -->
</body>

</html>